body{
    font-family: Arial;
    text-align: center;
    background-color: #e9f5ff;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: 0.3s;
}

img:hover{
    transform: scale(1.1);
}
@media (max-width: 768px){
    img{
        width: 90%;
        height: auto;
        margin: 15px 0;
    }

    h1{
        font-size: 22px;
    }
}